* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Общие параметры контейнера */
.container {
    width:90%;
    max-width:1150px;
    margin:0 auto;
    
}
/* Стили картинки заднего фона */
.container__header{
    background: url('../img/1-1.jpg') center top no-repeat;
    background-size: cover;
    height: 3900px;
    
    .header__link{
      justify-content: right;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;
    }
    /* Стиль центрального логотипа страницы */
    .header__logo{
      text-align: center;
      justify-content: center;
      color: #4D163D;
      font-size: 100px;
      font-family: 'Sriracha', cursive;
      text-shadow: 1px 5px 3px#000, 4px 20px 12px#fff;
    }

    .animate__wobble{
      text-align: center;
      justify-content: center;
      color: #4D163D;
      font-size: 30px;
      font-family: 'Sriracha', cursive;
    }
    

      
    
    /* Стиль текста под лого */
    .header__title{
      text-align: center;
      justify-content: center;
      color: #4D163D;
      font-size: 20px;
      font-family: 'Sriracha', cursive;

    }

    
    /* Стиль меню навигации сайта */
    .header__nav{
        text-align: center;
        margin-top: 50px;
        
        .nav__menu{
            display: flex;
            justify-content: center;
            list-style-type: none;
            
            .nav__link{
                color: #4D163D;
                text-decoration: none;
                margin-left: 40px;    
                font-size: 40px;
                font-family: 'Sriracha', cursive;
                transition: 1s;
                  
            }
            
            .nav__link:hover{
                font-size: 45px;
                color: #840037;
                overflow: hidden;
                -webkit-transform: scale(1);
                -ms-ransform: scale(1);
                transform: scale(1) translate(100%);

            }
        }
    }
}

      /* стили для блока страницы О нас */
    .container__info{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
    

      .info__first{
        width: 400px;
        margin-left: 200px;
        text-align: center;
        background-color: #afafaf8a;
        border-radius: 25px;
        font-family: 'Sriracha', cursive;
        color: #4D163D;
        font-size: 20px;
        padding-top: 50px;
        height: 300px;
      }

      .info__photo{
        width: 400px;
        text-align: left;
        border-radius: 25px;
      }

      .info__photo2{
        margin-top: 50px;
        width: 400px;
        margin-left: 200px;
        border-radius: 25px;
      }

      .info__last{
        margin-top: 50px;
        width: 400px;
        height: 300px;
        text-align: center;
        background-color: #afafaf8a;
        border-radius: 25px;
        font-family: 'Sriracha', cursive;
        color: #4D163D;
        font-size: 20px;
        padding-top: 50px;
      }
    
  }
  /* Стили для слайдера */
  .slider {
    max-width: 500px;
  }
  .slider__images {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    list-style-type: none;
    transition: opacity .4s ease-in, visibility .4s ease-in;
    
    &.loaded {
      opacity: 1;
      visibility: visible;
    }
    
    &-item {
      position: absolute;
      top: 0px;
      left: 0px;
      
      .no-js & {
        
        &:first-of-type {
          position: relative; 
        }
        
        &:not(:first-of-type) {
          display: none !important;
        }
      }
    }
    
    &-image {
      display: block;
    }
  }
  .slider__controls {
    margin-top: 30px;
    user-select: none;
    text-align: center;
  }
  .slider__control {
    display: inline-block;
    color: #829995;
    cursor: pointer;
  }
  .slider__control--prev {
    margin-right: 10px;
  }
  .slider__control--next {
    margin-left: 10px;
  }
  .slider__pagers {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    li {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      color: #829995;
      padding: 0 10px;
      
      &.active {
        color: #333;
      }
    }
  }
  
  // vanity styles
  ul,
  ol,
  div {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .wrapper {
    padding: 30px;
  }
  .slider {
    margin: 30px auto 0;
    padding: 30px;
    background: rgba(255, 255, 255, 0.486);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
/* Стили скрола */
.scroll{
  width: 30px;
  height: 50px;
  position: sticky;
  top: 2em;
  bottom: 50%;
  left: 50%;
  cursor: pointer;
  margin-top: -25px;
  margin-left: -15px;
  
}
.scroll .mouse{
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  border: 3px solid #4D163D;
  border-radius: 20px;
  
  
}
.scroll .wheel{
  width: 4px;
  height: 4px;
  top: 10px;
  left: 5%;
  background: #4D163D;
  border-radius: 50%;
  margin-left: 9px;
  animation-name: scroll-wheel;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
  from{
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
  to{
      transform: translate3d(0, 10px, 0);
      opacity: 0;
  }
}
/* Стиил блока Галерея */
.gallery{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
  .gallery__photo2{
    display: flex;
    align-items: flex-end;
  }
}
/* Стили футера */
 footer{
    background: url('../img/sjY.gif') center top no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    .footer__title-text{
        color:#e53e5f;
        padding-top: 100px;
        font-size: 30px;
        font-family: 'Sriracha', cursive;
    }
    .footer__subtitle-text{
        color: #fff;
        padding-top: 15px;
        font-size: 20px;
        font-family: 'Sriracha', cursive;
    }
    .footer__icon{
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
            .footer__icon-logo{
                margin:30px 0 50px 0;
                list-style-type: none;
                width: 180px;
                }
    }
}
  /* Общие стили для заголовков */
  .container__info__title{
      margin-top: 100px;
      text-align: center;
      justify-content: center;
      color: #4D163D;
      font-size: 40px;
      font-family: 'Sriracha', cursive;
      text-shadow: 1px 5px 3px#000, 4px 20px 12px#fff;
  }
      
  /* Общие медиа запросы */
  @media screen and (max-width: 768px) {
      
    .container__info{
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      justify-content: center;
    }
    .header__logo{
      font-size: 50px;
    }

  }

  .slider__info,.slider__link{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #4D163D;
    font-size: 30px;
    font-family: 'Sriracha', cursive;
    
  }